<%- include ('partials/header'); -%>
    <div class="container" class="w-75">
        <p>fullName : <%= fullName %>
        </p>

        <p> pickUpLocation : <%= pickUpLocation %>
        </p>
        
        <p> emailID : <%= emailID %>
        </p>
        
        <p> dropLocation : <%= dropLocation %>
        </p>
        
        <p> mobileNumber : <%= mobileNumber %>
        </p>
        
        <p> pickupDate : <%= pickupDate %>
        </p>
        
        <p> dropDate : <%= dropDate %>
        </p>
        
        <p> pinCode : <%= pinCode %>
        </p>
        
        <p> carName : <%= carName %>
        </p>

        <p> bookingID : <%= bookingID %>
        </p>
        
    </div>
    <%- include ('partials/footer'); -%>
    </body>
    
    </html>